<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>ChatApp</title>
</head>
<body>
    <div id="login_container">
        <header id="login_header">
            <h1>ChatApp</h1>
        </header>
        <main id="login_main">
            <form action="/" method="POST">
                <div id="form_control">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter username..." autofocus required/>
                </div>
                <button type="submit" id="btn">Join Chat</button>
            </form>
        </main>
    </div>
</body>
</html>
